/* The asterisk is covering the entire web page to have zero borders when we add CSS elements as shown below */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* we make the background color of the body white everything below the hero image */
body {
    background-color: #d9dcd6;
}
/* header adjusted font added a background color of blue and white text */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* the letters seo in Horiseon are light gray */
.header h1 .seo {
    color: #d9dcd6;
}
/* we moved the nav elements to the right of the webpage and made them a smaller font size than the header of the webpage */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}
/* making the list inline instead of vertical list down the webpage */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* make the text of a elements white and remove the underline by adding text-decoration:none */
a {
    color: #ffffff;
    text-decoration: none;
}
/* adjusted the font size of the p elements to be uniform throughout the webpage at 16px */
p {
    font-size: 16px;
}
/* hero image adjusted for height width to fill the page, image linked, cover and center to fill out and center on the webpage */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* having elements move over to the left side of the webpage */
.float-left {
    float: left;
    margin-right: 25px;
}
/* having elements move over to the right side of the webpage */
.float-right {
    float: right;
    margin-left: 25px;
}
/* the content element is inline with a reduced width */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* the benefits element is configured in css to be on the right side of the webpage mainly with float, a blue back ground and font family adjusted */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* the following are adjusting the different sections to margin bottom so they arent touching in the webpage and added text color white */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* the following is adjusting the header of each section within aside so its smaller and center */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* the following is adjusting the image to display as a block, margin adjusted to 10px and a max-width of 150px */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* the following have a margin and bottom for the main portion of the webpage to have spacing between the three sections. height set at 300px to be uniform to all 3 elements font family set with a background color of blue and white text */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* image set to 200 px for all 3 images within the main portion of the webpage */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}
/* making the h2 element font size defined and adding a margin so it doesnt sit on top of the paragraph */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* footer elements, clear is there due to it being next to a float element; both so footer will be below both left and right of the floating element */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
